if list.fieldTypes.code
	link(rel="stylesheet", href="#{adminPath}/js/lib/codemirror/codemirror.css")
if list.fieldTypes.mediumeditor
	link(rel="stylesheet", href="#{adminPath}/js/lib/medium-editor/medium-editor.min.css")
	link(rel="stylesheet", href="#{adminPath}/js/lib/medium-editor/themes/default.css")
	link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
	link(rel="stylesheet", href="#{adminPath}/js/lib/medium-editor-insert-plugin/medium-editor-insert-plugin.min.css")