if list.fieldTypes.code
	link(rel="stylesheet", href="#{adminPath}/js/lib/codemirror/codemirror.css")
if list.fieldTypes.wysiwyg
	link(rel="stylesheet", href="#{adminPath}/js/lib/medium-editor/medium-editor.min.css")
	link(rel="stylesheet", href="#{adminPath}/js/lib/medium-editor/themes/default.css")
